@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes animatebottom {
  from { bottom:100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

body {
	background-color:white;
}

.btnStat{
	width:100%;
	height:9%;
	background:linear-gradient(lightgray, white);
	font-size:20px;	
}

.btnStatAlto{
	width:100%;
	height:10%;
	background:linear-gradient(lightgray, white);
	font-size:20px;	
}

.btnAdm{
	width:100%;
	height:calc(17% - 20px);
	background:linear-gradient(lightgray, white);
	font-size:25px;
}

#menuEsq {
	float:left;
	width:10%;
}

#btnHome {
	border-radius:25px 0px 0px 0px;
	border: solid 1px white;
	width:100%;
	height:100px;
	background-color:white;
}

#btnHome span:nth-child(1) {
	font-size:36px;
	font-family:Tahoma;
	font-style:italic;
	color:black;
}

#btnHome span:nth-child(2) {
	font-size:36px;
	font-family:Tahoma;
	font-style:italic;
	color:red;
}

#btnHome span:nth-child(3) {
	font-size:36px;
	font-family:Tahoma;
	font-style:italic;
	color:blue;
}

#btnHome span:nth-child(4) {
	font-size:36px;
	font-family:Tahoma;
	font-style:italic;
	color:red;
}

#btnHome span:nth-child(5) {
	float:left;
	margin-left:20%;
	font-size:10px;
	font-family:Tahoma;
	font-style:normal;
	color:black;
}

#btnCantoEsqInf {
	border-radius:0px 0px 0px 25px;
	width:100%;
	height:4%;
	background-color:lightgray;
}

#areaTrabalho{
	float:left;
	width:80%;
	background-color:white;	
}

#areaTrabalhoArquivos{
	float:left;
	width:100%;
	height:100px;
	overflow:auto;
	background-color:lightgray;
}

#areaTrabalhoLog{
	float:left;
	top:100px;
	width:100%;
	height:710px;
	overflow:auto;
	font-family:Tahoma;
	padding: 5px;
}

#areaTrabalhoAmostras1{
	visibility:hidden;
	position:absolute;
	float:left;
	top:108px;
	/* left:calc(10% + 5px); */
	left:calc(90% - 5px);
	height:300px;
	font-family:Tahoma;
	border: 2px solid gray;
	box-shadow:3px 3px;
	overflow:auto;
	background-color:#E5E5E5;
	z-index:5;
}

#areaTrabalhoAmostras1 span:nth-child(1) {
	position:relative;
	float:right;
	top:2px;
	margin-right:2px;
	width:15px;
	height:15px;
	padding:1px;
	border:1px solid black;
}

#btnStatusExibicao1  span:nth-child(1){
	margin-left:2px;
	font-family:sans-serif;
	font-size:16px;
	color:black;
}


#menuDir {
	float:left;
	width:10%;
}

#btnCantoDirSup {
	border-radius:0px 25px 0px 0px;
	width:100%;
	height:100px;
	background:lightgray;
}

#btnCantoDirInf{
	border-radius:0px 0px 25px 0px;
	width:100%;
	height:calc(16% - 5px);
	background-color:#E5E5E5;
	font-size:15px;
	font-family:Tahoma;
}

/* Caixa de dialogo */

.dialogo {
	visibility:hidden;
	position:absolute;
	top:250px;
	left:350px;
	width:600px;
	height:100px;
	border:1px solid;
	background-color:#E5E5E5;
	z-index:10;
	box-shadow:3px 3px;
}

.dialogo div:nth-child(1){
	height:24px;
	font-family:Tahoma;
}



.dialogo div:nth-child(1) div:nth-child(1){ 
	float:left;
	width:90%;
	text-align:center;
	color:white;
	font-family: Tahoma;
}

.dialogo div:nth-child(1) div:nth-child(2){ 
	position:absolute;
	margin-top:2px;
	margin-left: calc(100% - 20px);
	width:12px;
	height:17px;
	padding-left: 7px;
	background-color: white;
}

.dialogo div:nth-child(1) div:nth-child(2) a {

}

.dialogo div:nth-child(1) div:nth-child(2) a span { 
	margin-top:-3px;
	color:black;
	cursor:hand;
	font-family:sans-serif;
	font-size:15px;
}

.dialogo div:nth-child(2){
	overflow: auto;
	font-family: Tahoma;
}

/************************ LOADER ******************************/
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid red;
  border-radius: 50%;
  border-top: 16px solid black;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}